body {
    margin: 0;
    padding: 0;
    background-color: #1f1e1e;
    color: #ffffff;
    font-family: 'Cabin', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header h1 {
    background-color: #1E1E1E;
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
    color: #adc1c2;
    font-family: 'Cabin', sans-serif;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
#markdown-preview h1 {
    font-size: 1.8rem;
    margin: 0.5em 0;
    color: #32c3dc; /* Coral */
}

#markdown-preview h2 {
    font-size: 1.5rem;
    margin: 0.5em 0;
    color: #6ed2e8; /* Light Coral */
}

#markdown-preview h3 {
    font-size: 1.3rem;
    margin: 0.5em 0;
    color: #aecbea; /* Gold */
}

#markdown-preview p {
    font-size: 1rem;
    margin: 0.5em 0;
    color: #ebf3f7;
}

  /* Code Block Styling */
pre {
    background-color: #1c1c28; /* Darker block background */
    border: 1px solid #4b4e69;
    border-radius: 6px;
    padding: 12px;
    overflow-x: auto;
    color: #a9b7ff; /* Soft blue */
}

code {
    font-family: 'Space Mono', monospace;
    background-color: #1c1c28; /* Matches pre */
    color: #a9b7ff; /* Soft blue */
    padding: 2px 4px;
    border-radius: 4px;
}

.editor-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

textarea#markdown-input {
    background-color: #1E1E1E;
    /* Darker background */
    color: #e4e4eb;
    /* Light text */
    border: 1px solid #1f4541;
    /* Subtle border */
    width: 40%;
    height: 400px;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    box-sizing: border-box;
    resize: none;
    /* Prevent resizing */
    font-family: 'Space Mono', monospace;
    /* Monospace font */
}

#markdown-preview {
    background-color: #1E1E1E;
    /* Darker background */
    color: #e4e4eb;
    /* Light text */
    border: 1px solid #1f4541;
    /* Subtle border */
    border-radius: 6px;
    width: 40%;
    height: 400px;
    padding: 10px;
    overflow-y: auto;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    font-family: 'Space Mono', monospace;
    /* Monospace font */
    box-sizing: border-box;
}

.text-center {
    margin-top: 20px;
}

.btn {
    background-color: #46d9f0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

.btn:hover {
    background-color: #1b9a95;
}

footer {
    text-align: center;
    color: #B0B0B0;
    padding: 20px;
}

textarea#markdown-input:focus {
    border-color: #0beaee;
    outline: none;
}